force-app/main/default/flows/Follow_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Opp_Sales_Country</name>
        <label>assign Opp Sales Country</label>
        <locationX>611</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varOppCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Asset_Current_Opp.Sales_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Name_From_Meta_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Opp_Sales_Country_0</name>
        <label>assign Opp Sales Country</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varOppCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_asset_Latest_Related_Opp.Opportunity__r.Sales_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue_Name_From_Meta_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varNewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Asset_Configuration.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Task_Record_Type_Call.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Usage Red Flag Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Asset_Configuration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Created_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_tasks_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_tasks_to_collection</name>
        <label>assign tasks to collection</label>
        <locationX>3190</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>varTasksCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>opp_Assign_Task_Values</name>
        <label>opp Assign Task Values</label>
        <locationX>2690</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varNewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp_Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Primary_Contact_Role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp_get_Task_Record_Type_Call.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding call - New Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask.Created_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_tasks_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Config_Found</name>
        <label>Asset Config Found?</label>
        <locationX>2106</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Config_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Asset_Configuration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Login</targetReference>
            </connector>
            <label>Asset Config Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Current_Opp_Found</name>
        <label>Asset Current Opp Found?</label>
        <locationX>924</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>get_asset_Latest_Related_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Current Opp Found_No</defaultConnectorLabel>
        <rules>
            <name>Asset_Current_Opp_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Asset_Current_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Opp_Sales_Country</targetReference>
            </connector>
            <label>Asset Current Opp Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Task</name>
        <label>Found Open Task?</label>
        <locationX>1411</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Open_Task_NO_with_Asset_Current_Opp_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Open_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Asset_Configuration.Asset__r.Current_Opportunity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Asset_Current_Opp</targetReference>
            </connector>
            <label>Found Open Task_NO_with Asset Current Opp ID</label>
        </rules>
        <rules>
            <name>Found_Open_Task_NO_without_Asset_Current_Opp_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Open_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Asset_Configuration.Asset__r.Current_Opportunity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>get_asset_Latest_Related_Opp</targetReference>
            </connector>
            <label>Found Open Task_NO_without Asset Current Opp ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Primary_Contact_Role</name>
        <label>Found Primary Contact Role</label>
        <locationX>3498</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Primary_Contact_Role_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Primary_Contact_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Get_Queue_Name_From_Meta_Data</targetReference>
            </connector>
            <label>Found Primary Contact Role_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Asset_Related_Opp_Found</name>
        <label>is Asset Related Opp Found</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Asset_Related_Opp_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_asset_Latest_Related_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_asset_Latest_Related_Opp.Opportunity__r.Sales_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Opp_Sales_Country_0</targetReference>
            </connector>
            <label>is Asset Related Opp Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Login</name>
        <label>Last Login</label>
        <locationX>1786</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Login_not_populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAssetConfigLastActDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varTodayMinus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Open_Task</targetReference>
            </connector>
            <label>UserNotLoggedforMoreThan30Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Found</name>
        <label>Opp Found?</label>
        <locationX>3754</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Primary_Contact_Role</targetReference>
            </connector>
            <label>Opp Found_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_Get_Queue_Found</name>
        <label>opp_Get_Queue Found?</label>
        <locationX>3020</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_Get_Queue_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opp_Get_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_get_Task_Record_Type_Call</targetReference>
            </connector>
            <label>opp_Get_Queue Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Metadata_Found</name>
        <label>Opp Metadata Found?</label>
        <locationX>3251</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Metadata_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Get_Queue_Name_From_Meta_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_Get_Queue</targetReference>
            </connector>
            <label>Opp Metadata Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_Task_Record_Type_found</name>
        <label>opp Task Record Type found?</label>
        <locationX>2822</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_Task_Record_Type_found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opp_get_Task_Record_Type_Call</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_Assign_Task_Values</targetReference>
            </connector>
            <label>opp Task Record Type found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found ?</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Task_Record_Type_Call</targetReference>
            </connector>
            <label>Queue Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Meta_Data_Found</name>
        <label>Queue Meta Data Found?</label>
        <locationX>611</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Meta_Data_Found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Name_From_Meta_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue</targetReference>
            </connector>
            <label>Queue Meta Data Found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Record_Type_found</name>
        <label>Task Record Type found?</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Record_Type_found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Task_Record_Type_Call</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Values</targetReference>
            </connector>
            <label>Task Record Type found_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object</name>
        <label>What Object?</label>
        <locationX>3190</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Configuration_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset_Configuration__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Asset_Configuration</targetReference>
            </connector>
            <label>Asset_Configuration__c</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpp</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAssetConfigLastActDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!get_Asset_Configuration.Last_Login_Date__c}),DATEVALUE({!get_Asset_Configuration.Outbound_Message_Last_Sent__c}),
DATEVALUE({!get_Asset_Configuration.Last_Login_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>varOppTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!getOpp.Start_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>varTodayMinus30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 30</expression>
    </formulas>
    <interviewLabel>Follow Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Tasks</name>
        <label>create Tasks</label>
        <locationX>3190</locationX>
        <locationY>2642</locationY>
        <inputReference>varTasksCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Asset_Configuration</name>
        <label>get Asset Configuration</label>
        <locationX>2106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Config_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Asset_Current_Opp</name>
        <label>get Asset Current Opp</label>
        <locationX>924</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Current_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Asset_Configuration.Asset__r.Current_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_asset_Latest_Related_Opp</name>
        <label>get asset Latest Related Opp</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Asset_Related_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Asset_Configuration.Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Asset__c</object>
        <sortField>Opportunity_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Open_Task</name>
        <label>get Open Task</label>
        <locationX>1411</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Asset_Configuration.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage Red Flag Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Primary_Contact_Role</name>
        <label>Get Opp Primary Contact Role</label>
        <locationX>3498</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue</name>
        <label>get Queue</label>
        <locationX>380</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Name_From_Meta_Data.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name_From_Meta_Data</name>
        <label>Get Queue Name From Meta Data</label>
        <locationX>611</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Meta_Data_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_to_Support_Queue__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Task_Record_Type_Call</name>
        <label>get Task Record Type Call</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Record_Type_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>3754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opp_Get_Queue</name>
        <label>opp Get Queue</label>
        <locationX>3020</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opp_Get_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Get_Queue_Name_From_Meta_Data.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opp_Get_Queue_Name_From_Meta_Data</name>
        <label>Opp Get Queue Name From Meta Data</label>
        <locationX>3251</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Metadata_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpp.Sales_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_to_Support_Queue__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opp_get_Task_Record_Type_Call</name>
        <label>opp get Task Record Type Call</label>
        <locationX>2822</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opp_Task_Record_Type_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3064</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varOppCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTasksCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
